<div class="nav-container">
    <nav>

        <div id="menu_container">
            <ul class="menu_list_container">
                {% if request.session.user_id != null %}
                <a href="/user/{{ request.session.user_id }}/profile"><li id="initials">{{ request.session.initials }}</li></a>
                {% endif %}
                <li><a class="" href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {% if request.session.user_id != null %}
                <li><a href="/create_new_job">Create job</a></li>
                <li><a href="/user/{{ request.session.user_id }}/profile">My Profile</a></li>
                    {% if request.session.user_id == 1 %}
                    <li><a href="/all_users">All Users</a></li>
                    {% endif %}
                {% endif %}
                <li>
                    {% if request.session.user_id != null %}
                    <a class="login_a" href="/logout">Logout</a>
                    {% else %}
                    <a class="login_a" href="/login">Login</a>
                    {% endif %}
                </li>  
            </ul>
        </div>

        <div id="logo_container">
            <a href="/">
                <ion-icon name="hammer"></ion-icon>
                <h4>Pros</h4>
            </a>
        </div>

        <div id="burger_container">
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                
                {% if request.session.user_id != null %}
                <div id="initials_logo">
                    <a href="/user/{{ request.session.user_id }}/profile">{{ request.session.initials }}</a>
                </div>
                {% endif %}
               


                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {% if request.session.user_id != null %}
                <li><a href="/user/{{ request.session.user_id }}/profile">My Profile</a></li>
                <li><a href="/create_new_job">Create job</a></li>
                    {% if request.session.user_id == 1 %}
                    <li><a href="/all_users">All Users</a></li>
                    {% endif %}
                {% endif %}
                <li>
                    {% if request.session.user_id != null %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </nav>
</div>
